# PostgreSQL
DB_DATABASE=discovery
DB_USERNAME=discovery
DB_PASSWORD=secret
DB_EXTERNAL_PORT=5433

# Ports
BACKEND_PORT=8080
FRONTEND_PORT=3000

# Parser
PARSER_URL=http://host.docker.internal:8000
PARSER_API_KEY=

# Laravel
APP_KEY=
APP_ENV=local
APP_DEBUG=true

# Frontend
VITE_API_URL=http://localhost:8080
